<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Flask-SocketIO Test</title>
		<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
		<script type="text/javascript" src= "/js/conversionHelpers.js"></script>
		<script type="text/javascript" src= "/js/collisionHelpers.js"></script>
		<script type="text/javascript" src= "/js/physicsHelpers.js"></script>
		<script type="text/javascript" src= "/js/lots.js"></script>
		<script type="text/javascript" src= "/js/blocks.js"></script>
		<script type="text/javascript" src= "/js/tracts.js"></script>
		<script type="text/javascript" src= "/js/main.js"></script>
		<script type="text/javascript" src= "/js/phaser.js"></script>
		<script type="text/javascript" charset="utf-8">

/*
		All handlers and callbacks must be in this file
		No exposure to other files
*/

			/********************************************
			*											*
			*		rendering window sizing  			*
			*											*
			********************************************/		
		
			$(window).resize(function() { window.resizeGame(); } );
			
			function resizeGame() {
				var height = $(window).height();
				var width = $(window).width();
				game.width = window.innerWidth;
				game.height = window.innerHeight;
				game.stage.bounds.width = width;
				game.stage.bounds.height = height;
				if (game.renderType === Phaser.WEBGL){ 
					game.renderer.resize(width, height);
				}
			}
			
			var game; 
		
			
			$(document).ready(function(){
				console.log("4 four");
				game = new Phaser.Game(window.innerWidth, window.innerHeight, Phaser.AUTO, 'talktown', { preload: preload, create: create, update: update });

				namespace = '/gameplay'; 
				var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
				var ready = false;
				
				
				/********************************************
				*	receive json list of lots				*
				********************************************/
				socket.on('return lots', function(msg) {
					parseLotsJson(msg.data);
		
				});
				
				/********************************************
				*	receive json list of blocks				*
				********************************************/
				socket.on('return blocks', function(msg) {
					parseBlocksJson(msg.data);
		
				});
				
		        /********************************************
				*	receive json list of tracts      		*
				********************************************/
				socket.on('return tracts', function(msg) {
					parseTractsJson(msg.data);
		
				});
				
				/********************************************
				*	python server will return			 	*
				*	true if world finished generating		*
				********************************************/
				socket.on('ready response', function(msg) {
					if(msg.data == "True") 
						ready = true;
				});
				
				
				
				/********************************************
				*	change the view when gen finished    	*
				********************************************/
				socket.on('redirect', function (data) {
					window.location = data.url;
				});
				
			

				/********************************************
				*	Get information about generated world	*
				********************************************/
				function requestWorldInfo() {
					console.log("requestWorldInfo");
					socket.emit('get_random_person', {data: 'random person'});
					socket.emit('get_city_name', {data: 'city name'});
					socket.emit('get_block_json', {data: '0'});
					socket.emit('get_lot_json', {data: '0'});
					socket.emit('get_tract_json', {data: '0'});
				}
				
				
				requestWorldInfo();
				
	
			});
			

			
		</script>
	</head>
	<body style = "padding:0px;margin:0px">
		<div id = "talktown" style="offset:0;width:100%;height:100%;margin:0;padding:0"></div>
	</body>
</html>
