<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Flask-SocketIO Test</title>
		<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
		<script type="text/javascript" src= "js/client.js"></script>
		<script type="text/javascript" src= "js/2.js"></script>
		<script type="text/javascript" charset="utf-8">
		
		/************************************************************************
	
				All handlers and callbacks must be in this file
				No exposure to other files
		
		************************************************************************/
		
			$(document).ready(function(){
				// change to an empty string to use the global namespace
				namespace = '/gameplay'; 
				// the socket.io documentation recommends sending an explicit package upon connection
				// this is specially important when using the global namespace
				var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
				var ready = false;
				
				// JS callback when server "resends" message originally from JS.//
				// event handler for server sent data
				socket.on('my response', function(msg) {
					$('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
				});
				
				// event handler for returned game world info from server
				socket.on('return info', function(msg) {
					$('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': JS received some info about: ' + msg.data).html());
				});
				
				socket.on('return lot', function(msg) {
					$('#log').append('<br>' + $('<div/>').text('Type of lot: ' + msg.data).html());
		
				});
				
				// event handler for new connections
				socket.on('connect', function() {
					socket.emit('my event', {data: 'I\'m connected!'});
				});
				
				// handler for posting a message
				// these send data to the server in a variety of ways
				$('form#emit').submit(function(event) {
					console.log("JAVASCRIPT: User wants to post this message: " + $('#emit_data').val());
					socket.emit('my event', {data: $('#emit_data').val()});
					return false;
				});
				
				// handler for disconnecting
				$('form#disconnect').submit(function(event) {
					socket.emit('disconnect request');
					return false;
				});
				
				// checking that world has finashed generating. python server will return true if ready
				socket.on('ready response', function(msg) {
					if(msg.data == "True") 
						ready = true;
				});
			
				// some server client tests
				function commands() {
					/*console.log("Called commands()");
					console.log("There should be logs after this message\n");
					socket.emit('my event', {data: "cat"});
					console.log("I should have emitted a custom event\n");
					
					socket.emit('my event', {data: returnBun()});
					*/
					console.log("Requesting info");
					socket.emit('get_random_person', {data: 'random person'});
					console.log("Append received info");
					
					console.log("Requesting info");
					socket.emit('get_city_name', {data: 'city name'});
					console.log("Append received info");
					for (var i = 0; i < 10; i ++){
						socket.emit('get_lot', {data: '0'});
					}
				}
				
				// keep checking that world is generated 
				function checkReady() {
					socket.emit('ready');
					if (!ready) {
						window.setTimeout(checkReady, 1000);
						console.log("Called checkReady(), !ready");
					} else {
						commands();
					}
				}
				
				// begin checking for readiness
				checkReady();
			});
			
		</script>
	</head>
	<body>
		<h1>Flask-SocketIO Test</h1>
		<h2>Send:</h2>
		<form id="emit" method="POST" action='#'>
			<input type="text" name="emit_data" id="emit_data" placeholder="Message">
			<input type="submit" value="Send a message">
		</form>
		<form id="disconnect" method="POST" action="#">
			<input type="submit" value="Disconnect">
		</form>
		<h2>Receive:</h2>
		<div id="log"></div>
</html>
